@{
    ViewData["Title"] = "AddProducts";
    Layout = "~/Views/Shared/_LayoutSBAdmin.cshtml";
}

<div id="page-wrapper">
    <div id="container">
        <h2>Products</h2>
        <hr />
        <div class="row">
            <div class="col-md-12" style="overflow-x:auto;">
                <table class="table" id="tbProducts">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>Product ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Rating</th>
                            <th>Created</th>
                            <th>Updated</th>
                            <th>Additional Features</th>
                            <th>Is Active</th>
                            <th>Return Policy</th>
                            <th>Brand</th>
                            <th>Category</th>
                            <th>Discount</th>
                            <th>Stock Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h3 id="Title">New Product</h3><hr />
                <div class="mb-3">
                    <label>Name</label>
                    <input type="text" class="form-control" id="txtName" />
                </div>
                <div class="mb-3">
                    <label>Description</label>
                    <input type="text" class="form-control" id="txtDescription" />
                </div>
                <div class="mb-3">
                    <label>Price</label>
                    <input type="number" step="0.01" class="form-control" id="txtPrice" />
                </div>
                <div class="mb-3">
                    <label>Rating</label>
                    <input type="number" step="0.01" class="form-control" id="txtRating" />
                </div>
                <div class="mb-3">
                    <label>Created</label>
                    <input type="date" class="form-control" id="txtCreated" />
                </div>
                <div class="mb-3">
                    <label>Updated</label>
                    <input type="date" class="form-control" id="txtUpdated" />
                </div>
                <div class="mb-3">
                    <label>Additional Features</label>
                    <input type="text" class="form-control" id="txtAdditionalFeatures" />
                </div>
                <div class="mb-3">
                    <label>Is Active</label>
                    <input type="checkbox" class="form-control" id="chkIsActive" />
                </div>
                <div class="mb-3">
                    <label>Brand</label>
                    <select class="form-control" id="ddlBrandId">
                        <option value="">Select Brand</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label>Category</label>
                    <select class="form-control" id="ddlCategoryId">
                        <option value="">Select Category</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label>Discount</label>
                    <select class="form-control" id="ddlDiscountId">
                        <option value="">Select Discount</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label>Stock Status</label>
                    <select class="form-control" id="ddlStockStatusId">
                        <option value="">Select Stock Status</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label>Stock Quantity</label>
                    <input type="number" class="form-control" id="txtStockQuantity" />
                </div>
                <div class="mb-3">
                    <input type="hidden" id="txtId" />
                    <button class="btn btn-primary" id="btnAdd">Add</button>
                    <button class="btn btn-secondary" id="btnCancel">Cancel</button>
                </div>
                <div class="alert" id="result"></div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        $(document).ready(function () {
            var ApiBaseUrl = "@ViewBag.ApiBaseUrl";
            var token = localStorage.getItem("token");
            

            function loadDropdowns() {
                loadCategories();
                loadDiscounts();
            }

            

            function loadCategories() {
                $.ajax({
                    url: ApiBaseUrl + "DropdownData/GetCategories",
                    type: "GET",
                    headers: {
                        'Authorization': 'Bearer ' + token
                    },
                    success: function (data) {
                        var categoryDropdown = $('#ddlCategoryId');
                        data.forEach(function (item) {
                            categoryDropdown.append(new Option(item.name, item.id));
                        });
                    }
                });
            }

            function loadDiscounts() {
                $.ajax({
                    url: ApiBaseUrl + "DropdownData/GetDiscounts",
                    type: "GET",
                    headers: {
                        'Authorization': 'Bearer ' + token
                    },
                    success: function (data) {
                        var discountDropdown = $('#ddlDiscountId');
                        data.forEach(function (item) {
                            discountDropdown.append(new Option(item.name, item.id));
                        });
                    }
                });
            }


            function loadProducts() {
                $.ajax({
                    url: ApiBaseUrl + "Products/GetProductList",
                    type: "GET",
                    headers: {
                        'Authorization': 'Bearer ' + token
                    },
                    success: function (data) {
                        var productsTable = $('#tbProducts tbody');
                        productsTable.empty();

                        data.forEach(function (item, index) {
                            var row = '<tr>' +
                                '<td>' + (index + 1) + '</td>' +
                                '<td>' + item.id + '</td>' +
                                '<td>' + item.name + '</td>' +
                                '<td>' + item.description + '</td>' +
                                '<td>' + item.price + '</td>' +
                                '<td>' + item.rating + '</td>' +
                                '<td>' + item.created + '</td>' +
                                '<td>' + item.updated + '</td>' +
                                '<td>' + item.additionalFeatures + '</td>' +
                                '<td>' + (item.isActive ? 'Yes' : 'No') + '</td>' +
                                '<td>' + item.returnPolicy + '</td>' +
                                '<td>' + item.brandName + '</td>' +
                                '<td>' + item.categoryName + '</td>' +
                                '<td>' + item.discountName + ' (' + item.discountAmount + ')' + '</td>' +
                                '<td>' + item.stockStatus + ' (' + item.stockQuantity + ')' + '</td>' +
                                '</tr>';
                            productsTable.append(row);
                        });
                    },
                    error: function (error) {
                        console.error("Error loading products:", error);
                    }
                });
            }
            loadDropdowns();
            loadProducts();

            $('#btnAdd').click(function () {
                var product = {
                    Id: 0,
                    Name: $('#txtName').val(),
                    Description: $('#txtDescription').val(),
                    Price: parseFloat($('#txtPrice').val()),
                    Rating: parseFloat($('#txtRating').val()),
                    Created: new Date($('#txtCreated').val()),
                    Updated: new Date($('#txtUpdated').val()),
                    AdditionalFeatures: $('#txtAdditionalFeatures').val(),
                    IsActive: $('#chkIsActive').is(':checked'),
                    BrandName: $('#ddlBrandId option:selected').text(),
                    CategoryName: $('#ddlCategoryId option:selected').text(),
                    DiscountAmount: $('#ddlDiscountId option:selected').text(),
                    StockStatus: $('#ddlStockStatusId option:selected').text(),
                    StockQuantity: parseInt($('#txtStockQuantity').val())
                };

                $.ajax({
                    url: ApiBaseUrl + "Products/AddProduct",
                    type: "POST",
                    contentType: "application/json",
                    headers: {
                        'Authorization': 'Bearer ' + token
                    },
                    data: JSON.stringify(product),
                    success: function (response) {
                        $('#result').removeClass('alert-danger').addClass('alert-success').text('Ürün başarıyla eklendi.');
                        loadProducts();
                    },
                    error: function (error) {
                        $('#result').removeClass('alert-success').addClass('alert-danger').text('Ürün eklenirken hata oluştu: ' + error.responseJSON.message);
                    }
                });
            });

            $('#btnCancel').click(function () {
                $('#txtName').val('');
                $('#txtDescription').val('');
                $('#txtPrice').val('');
                $('#txtRating').val('');
                $('#txtBadge').val('');
                $('#txtStockQuantity').val('');
                $('#txtSKU').val('');
                $('#txtBarcode').val('');
                $('#txtWeight').val('');
                $('#txtCreated').val('');
                $('#txtUpdated').val('');
                $('#txtAdditionalFeatures').val('');
                $('#chkIsActive').prop('checked', false);
                $('#txtMinStockLevel').val('');
                $('#txtMaxStockLevel').val('');
                $('#txtSaleStartDate').val('');
                $('#txtSaleEndDate').val('');
                $('#txtProductionDate').val('');
                $('#txtExpiryDate').val('');
                $('#txtStorageConditions').val('');
                $('#txtReturnPolicy').val('');
                $('#ddlBrandId').val('');
                $('#ddlCampaignId').val('');
                $('#ddlCategoryId').val('');
                $('#ddlDiscountId').val('');
                $('#ddlStockStatusId').val('');
                $('#ddlWarrantyId').val('');
            });
        });
    </script>
}


