
@{
    ViewData["Title"] = "ListUsers";
    Layout = "~/Views/Shared/_LayoutSBAdmin.cshtml";
}

<div id="page-wrapper">
    <div id="container">
        <h2>Users</h2>
        <hr />
        <div class="row">
            <div class="col-md-8">
                <table class="table" id="tbUsers">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Adı Soyadı</th>
                            <th>Kullanıcı Adı</th>
                            <th>E-Posta</th>
                            <th>Rol</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var ApiBaseUrl = "@ViewBag.ApiBaseUrl";
            var token = localStorage.getItem("token");
            loadUsers();

            function loadUsers() {
                $.ajax({
                    url: ApiBaseUrl + "Admin/Members",
                    type: "GET",
                    headers: {
                        "Authorization": "Bearer " + token
                    },
                    dataType: "json",
                    success: function (data) {
                        var tableBody = $("#tbUsers tbody");
                        tableBody.empty();

                        $.each(data, function (index, user) {
                            tableBody.append(
                                "<tr>" +
                                "<td>" + user.id + "</td>" + 
                                "<td>" + user.fullName + "</td>" +
                                "<td>" + user.userName + "</td>" +
                                "<td>" + user.email + "</td>" +
                                "<td>" + user.role + "</td>" +
                                "</tr>"
                            );
                        });
                    },
                    error: function () {
                        console.error("Error loading users.");
                    }
                });
            }
        });
    </script>
}