
@{
    ViewData["Title"] = "Members";
    Layout = "~/Views/Shared/_LayoutSBAdmin.cshtml";
}

    <div id="page-wrapper">
        <h1>Kullanıcılar</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Adı Soyadı</th>
                    <th>Kullanıcı Adı</th>
                    <th>E-Posta</th>
                    <th>Rol</th>
                </tr>
            </thead>
            <tbody>
                  <tr>
                        <td>Id</td>
                        <td>FullName</td>
                        <td>UserName</td>
                        <td>Email</td>
                        <td>Role</td>
                </tr>  
                }
        
            </tbody>
        </table>
    </div>

