
@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/_LayoutSBAdmin.cshtml";
}
    <div id="page-wrapper">
        <h1>Roller</h1>
        <a class="btn btn-primary">Role Ekle</a>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>Id</td>
                        <td>Name</td>
                    </tr>
            </tbody>
        </table>
    </div>


